.idea
cmake-build-*
build
*.swp
compile_commands.json
ghidra/flex/
/ghidrall/tests/build/*
/ghidrall/tests/results/*
!/ghidrall/tests/results/lit.cfg
!/ghidrall/tests/README.md
!/ghidrall/tests/seatest.py
/debug/
.vscode
